doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/layout.css')
    link(rel="stylesheet", href="/stylesheets/reveal.css")
    link(rel="stylesheet", href="/stylesheets/theme/black.css")
    block css
  body
    .reveal
      .slides
        section
          p test
      block content
    script(src="/lib/js/head.min.js")
    script(src="/javascripts/reveal.js")
    block js
